<h1>Fyf#search</h1>

<table>
  <th>
  	<th colspan=4>Play Now
  </th>
  <%@friends_local.each do |f| %>
  	<tr>
  		<td><img src="<%=h f.picture%>"/></td>
  		<td><%=h f.name%></td>
  		<td><%=h f.email%></td>
  		<td><%=h f.identifier%></td>
  	</tr>
  <%end%>
  <th>
  	<th colspan=4>Invite
  </th>
  <%@friends_other.each do |f| %>
  	<tr>
  		<td><img src="<%=h f.picture%>"/></td>
  		<td><%=h f.name%></td>
  		<td><%=h f.email%></td>
  		<td><%=h f.identifier%></td>
  	</tr>
  <%end%>
</table>
