<%= form_for(@tte_game, :html=>{:class=>'tte-form big'}) do |f| %>
  <% if @tte_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tte_game.errors.count, "error") %> prohibited this game from being started:</h2>

      <ul>
      <% @tte_game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Your Opponent's email address:" %><br />
    <%= f.text_field :player_a_email, :type=>:email %>
  </div>
  <div class="field">
    <%= f.label "Your email address:" %><br />
    <%= f.text_field :player_b_email, :type=>:email %>
  </div>
  
  <div class="field" id='move'>
  	<%= f.label "Your first move as X:" %><br />
  	<%= render 'board_form' %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Start Game', :class=>'button-clickme' %>
  </div>
<% end %>
