<h1>Listing tte_games</h1>

<table>
  <tr>
    <th>Player a email</th>
    <th>Player b email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tte_games.each do |tte_game| %>
  <tr>
    <td><%= tte_game.player_a_email %></td>
    <td><%= tte_game.player_b_email %></td>
    <td><%= link_to 'Show', tte_game %></td>
    <td><%= link_to 'Edit', edit_tte_game_path(tte_game) %></td>
    <td><%= link_to 'Destroy', tte_game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_tte_game_path %>
