
<%=image_tag('tte-game-won.svg', :class=>'tte-logo', :height=>'100', :width=>'100')%>

<h1>Play Tic-Tac-Toe!</h1>

<h3 class="<%=h @message_class%>"><%=h @message%></h3>

<%= link_to 'Find Friends for Tic-Tac-Email!', facebook_oauth2_path, :class=> 'button-clickme'%>

<div class="clear"></div>

<%= render 'form' %>

<%= link_to 'Back', tte_games_path %>
