<%= form_for(@urlshort) do |f| %>
  <% if @urlshort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@urlshort.errors.count, "error") %> prohibited this urlshort from being saved:</h2>

      <ul>
      <% @urlshort.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :target_url %><br />
    <%= f.text_field :target_url %>
  </div>
  <div class="field">
    <%= f.label :code %> Ok to leave blank.<br />
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
