<h1>Listing urlshorts</h1>

<table>
  <tr>
    <th>Target url</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @urlshorts.each do |urlshort| %>
  <tr>
    <td><%= urlshort.target_url %></td>
    <td><%= urlshort.code %></td>
    <td><%= link_to 'Show', urlshort %></td>
    <td><%= link_to 'Edit', edit_urlshort_path(urlshort) %></td>
    <td><%= link_to 'Destroy', urlshort, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Urlshort', new_urlshort_path %>
