

<div class="tab">
	<div id="welcome" class="tab-item">
		<h2>Welcome</h2>
		<p>Thanks for visiting my site.</p>
		<p>Here are some things I have built on this web scratchpad.</p>
		<dl>
			<dt id="linkid-dt"><%= link_to "Tic-Tac-Email!", tte_games_path %></dt>
			<dd id='linkid-dd'><%=link_to(image_tag('tte-game-won.svg', :style=>"float:left", :height=>'100', :width=>'100'), tte_games_path) %></dd>
			<dd>First game for patt.us!</dd>
			<dd>Turn based, two player, simple board game</dd>
			<dd>Notifies each player via Email</dd>
			<dd style="clear:left"></dd>
			
			<dt><%= link_to 'Find Friends for Tic-Tac-Email!', facebook_oauth2_path %>
			<dd>Nobody is playing the game, this should help.</dd>
			<dd>Does a basic FB auth and pulls friends list.</dd>
			<dd>Stores list of previously played users, hoepfully some of your friends will also have played (I can be your friend)</dd>
			
			<dt><%= link_to "Url Shortner", urlshorts_path %></dt>
			<dd>Classic 1 Table app</dd>
			<dd>Had to do it with my new patt.us domain.</dd>
			<dd>Since no one uses it (except you?) so the urls are really short.</dd>
			<dd>Try it: 
				<%= form_for(@urlshort, :html =>{:style=>'display:inline'}) do |f| %>
					<%= f.text_field :target_url, :type=>'url' %>
					<%= f.submit :value=>'Shorten!'%>
				<% end %>
			</dd>
			
			<dt><%= link_to "Most Recently Used Bart Android App", 'http://patt.us/u/2' %></dt>
			<dd>Simple Bart Android app.</dd>
			<dd><%= link_to "Source Code on Github", 'https://github.com/dspattison/mrubart'%>
			
			<dt><%= link_to "Secure Paste Bin", spaste_pastes_path %></dt>
			<dd>Annoymous Text Blob storage/retrival</dd>
			<dd>Fully encrypted storage using Public/Private Cryptogrphy</dd>
		</dl>
	</div>
	
	<div id="about" class="tab-item">
		<h2>About Me</h2>
		<p>
			I graduated from UC Davis in 2008 with a BS in Computer Science and since then have been working in software development. 
			Currently I am a Software Engineer at Google.
		</p>
		<p>
			<%=link_to image_path('family.gif'), "Here is a picture of my family" %>
		</p>
	</div>
	
	<div id="resume" class="tab-item">
		<h2>Resume</h2>
		<p><%=link_to 'Resume PDF', 'https://s3.amazonaws.com/static.davidspattison.com/resume.pdf'%></p>
	</div>
	
	<div id="blog" class="tab-item">
		<h2>Blog</h2>
		<p><%=link_to "Blog dspattison.wordpress.com", "https://dspattison.wordpress.com"%></p>
	</div>
	
	
</div>

