
<ul class="tab-nav">
	<li><%=link_to 'Welcome', '#welcome'%></li>
	<li><%=link_to 'About', '#about'%></li>
	<li><%=link_to 'Blog', '#blog'%></li>
	<li><%=link_to 'Links', '#links'%></li>
	<li><%=link_to 'Resume', '#resume'%></li>
</ul>

<div class="tab">
	<div id="welcome" class="tab-item">
		<h2>Welcome</h2>
		<p>Thanks for visiting my site.</p>  
		<p>My name is David Pattison.</p>
	</div>
	
	<div id="about" class="tab-item">
		<h2>About Me</h2>
		<p>I like Skiing and pizza.</p>
	</div>
	
	<div id="blog" class="tab-item">
		<h2>Blog</h2>
		<p><%=link_to "Blog dspattison.wordpress.com", "https://dspattison.wordpress.com"%></p>
	</div>
	
	<div id="resume" class="tab-item">
		<h2>Resume</h2>
		<p><%=link_to 'Resume PDF', 'https://s3.amazonaws.com/static.davidspattison.com/resume.pdf'%></p>
	</div>
	
	
	<div id="links" class="tab-item">
		<h2>Links</h2>
		<p>@TODO</p>
	</div>
	
	
</div>


<script type="text/javascript">
	window.location = '#welcome';
</script>
