<!DOCTYPE html>
<html>
<head>
  <title><%=@page_title%></title>
  <%= stylesheet_link_tag 'feel.css' %>
  <%= stylesheet_link_tag "tte_board" %>
  <%= stylesheet_link_tag "c4_games.css" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0'" />
</head>
<body>
<% if !@page_html_title.empty? %>
<h1><%=@page_html_title%></h1>
<% end %>

<%= yield %>

<hr/>
<%= render :partial=> 'shared/keel' %>
<center>
	<a href="https://github.com/dspattison/davidspattison/issues">Bugs</a>
</center>
</body>
</html>
