<!DOCTYPE html>
<html>
<head>
  <title><%=@page_title%></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0'" />
</head>
<body>
<% if !@page_html_title.empty? %>
<h1><%=@page_html_title%></h1>
<% end %>

<%= yield %>

<hr/>
<%= render :partial=> 'shared/keel' %>
<center>
	<%= link_to "Home", :root%>
	<a href="https://github.com/dspattison/davidspattison/issues">Bugs</a>
	<%= link_to "Tos", :tos%>
</center>

<%= render :partial => 'tracking/google_analytics' %>

</body>
</html>
