<!DOCTYPE html>
<html>
<head>
  <title><%=@page_title%></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<%= render :partial => 'tracking/google_analytics' %>
<% if !@page_html_title.empty? %>
<h1><%=@page_html_title%></h1>
<% end %>

<%= yield %>

<%= render :partial => 'ads/bottom' %>
<hr/>
<div id="keel">
	<%= render :partial=> 'shared/keel' %>
	<center>
		<%= link_to "Home", :root%>
		<a href="https://github.com/dspattison/davidspattison/issues">Bugs</a>
		<%= link_to "Tos", :tos%>
	</center>
</div>


</body>
</html>
