<!DOCTYPE html>
<html>
<head>
  <title>Davidspattison</title>
  <%= stylesheet_link_tag 'feel.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0'" />
</head>
<body>
<h1>David S Pattison</h1>

<%= yield %>

<%= render :partial=> 'shared/keel' %>
</body>
</html>
