<!DOCTYPE html>
<html>
<head>
  <title>David S Pattison</title>
  <%= stylesheet_link_tag 'feel.css' %>
  <%= stylesheet_link_tag "tte_board" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0'" />
</head>
<body>
<h1>David S Pattison</h1>

<%= yield %>

<%= render :partial=> 'shared/keel' %>
<a href="https://github.com/dspattison/davidspattison/issues">Bugs</a>
</body>
</html>
